*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #232323;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 100px; */
    height: max(60vh, 300px);
    background: #333;
    /* border: 3px solid yellowgreen; */
    border-radius: 20px;
}

#heading{
    font-size: 3.5rem;
    color: yellow;
    font-family: monospace;
    font-weight: 600;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#display{
    font-size: 4.5rem;
    /* border: 3px #fff solid; */
    padding: 1rem 2rem;
    letter-spacing: 0.5rem;
    padding-inline: 4rem;
    font-family: monospace;
}

.yellowText{
    color: yellow;
}
button{
    font: inherit;
    font-size: 1.75rem;
    font-weight: 600;
    width: 8rem;
    padding: 0.5rem;
    background: hsl(120, 100%, 25%);
    color: #fff;
    outline: 0;
    border: 0;
    box-shadow: 0 10px hsl(120, 100%, 20%);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover{
    background: hsl(120, 100%, 45%);
    /* box-shadow: 0 10px hsl(120, 100%, 30%); */
    color: #000;
}

button:active{
    background: hsl(120, 100%, 45%);
    color: #000;
    transform: translateY(7px);
    box-shadow: 0 3px hsl(120, 100%, 30%);
}

#resetBtn{
    background: hsl(207, 100%, 35%);
    box-shadow: 0 10px hsl(207, 100%, 20%);
}

#resetBtn:hover{
    background: hsl(207, 100%, 55%);
}

#resetBtn:active{
    background: hsl(207, 100%, 55%);
    box-shadow: 0 3px hsl(207, 100%, 20%);
}

#stopBtn{
    background: hsl(0, 100%, 40%);
    box-shadow: 0 10px hsl(0, 100%, 25%);
}

#stopBtn:hover{
    background: hsl(0, 100%, 65%);
}

#stopBtn:active{
    background: hsl(0, 100%, 65%);
    box-shadow: 0 3px hsl(0, 100%, 25%);
}